<section class="bleed-full alert-wrapper" ng-hide="hideAlert">


<div>

    <div class="module ">
        <div class="">
            <a href="#" class="alerts clearfix">
                <ul class="col12">
                    <li class="alert-icon">
                        <i class="mda-icon-alert"></i>
                    </li>
                    <li class="alert-text">
                        <div>Lorem ipsum alert text goes here. <span class="alert-cta mda-hide-sm">Call to Action</span>
                        </div>
                    </li>
                    <!--li >
                      <a class="alert-close" href="#"><i class="fa fa-times"></i></a>
                    </li-->
                </ul>
            </a>
            <script>

            </script>
        </div>
    </div>

</div>
</section>