.headline-with-image {
    position: relative;
    display: table;
    width: 100%;
    height: 355px;
    .info-container, .image-container {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
    }
    .info-container {
        background: $secondaryBlue;
        color: $primaryWhite;
        .info {
            padding: 0 20%;
        }
        &.green {
            background: $secondaryGreen;
        }
        &.red {
            background: $primaryRed;
        }
        &.purple {
            background: $secondaryPurple;
        }
        &.orange {
            background: $secondaryOrange;
        }
        .cta {
            @include type-ub-18;
            color: $primaryWhite;
            i,span{
                margin-left: 15px;
            }
        }
        .heading {
            @include type-ub-24;
            margin: 0;
            font-weight: normal;
        }
        .description {
            @include type-m-48;
            font-weight: normal;
            margin: 25px 0;
        }
    }
    .image-container {
        position: relative;
        overflow: hidden;
        img {
            min-width: 100%;
            position: absolute;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
        }

    }
}

.ie10,.ie9{
    .headline-with-image{
        table-layout: fixed;
        .image-container{
            img{
                height: 100%;
                min-width: 100%;
                width: 100%;
                left: inherit;
                right: inherit;
                bottom: inherit;
                top: inherit;
                position: relative;


            }
        }
    }
}

@include breakpoint(max-width $width-small) {
    .headline-with-image {
        .info-container {
            width: 100%;
            padding: 40px;
            .info {
                padding: 0;
            }
            .heading {
                font-size: 25px;
            }
            .description {
                font-size: 45px;
            }
            .cta {
                font-size: 19px;
            }

        }
        .image-container {
            display: none;
        }
    }
}